
<div class="container">

<div class="searchbars">
  <%= simple_form_for :search, url: offices_path, method: "get" do |f| %>
    <div class="search-form-control form-group">

        <input class="office_address form-control string required" type="text" name="search[address]" id="search_query" placeholder="Address" />
        <input class="datepicker form-control string required" type="text" name="search[date]" id="search_query1" label = "Date" placeholder="Date" />

        <button name="button" type="submit" class="btn btn-ghost">
        <i class="fas fa-search"></i> Search
        </button>
      </div>
  <% end %>
</div>

<% if @offices.first.nil? %>
  <h1>Sorry, there are no available offices </h1>
<% else %>
  <h1>Available Offices in <%= @offices.first.city %></h1>

<div class="main-container">
<div class="cards">
      <% @offices.each do |office| %>
      <div class="card-product">
          <% if office.photos.attached? %>
          <% office.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
           <% end %>
           <% else %>
            <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-style-home-office.jpg" />
          <% end %>

          <div class="card-product-infos">

            <h2> <%= link_to office.name, office_path(office) %></h2>
            <p> <%= office.price %> Euro per day </p>
            <p>availabe from: <%= office.start_date%> till <%= office.end_date %></p>

          </div>
        </div>
      <% end %>
    <% end %>

  <div class="map-container">
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>

      <br>
   <%= link_to "Back to search", root_path %>
   <br>
   <p id="notice"><%= notice %></p>

</div>




