<div class="container">

   <% if @offices.first.nil? %>
      <h1>Sorry, there are no available offices </h1>
    <% else %>
      <h1>Available Offices in <%= @offices.first.city %></h1>
      <% @offices.each do |office| %>

      <div class="card-product">
        <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-style-home-office.jpg" />
        <div class="card-product-infos">

          <h2> <%= link_to office.name, office_path(office) %></h2>
          <p><%= office.city%>, <%= office.address %>, <%= office.price %> Euro per day </p>

        </div>
      </div>

        <% if office.photos.attached? %>
          <% office.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          <% end %>
        <% end %>

    <br>
   <%= link_to "Back to search", root_path %>
    <% end %>

<p id="notice"><%= notice %></p>
</div>
