<div class="container">
  <p id="notice"><%= notice %></p>
    <% if @offices.first.nil? %>
      <h1>Sorry, there are no available offices </h1>
    <% else %>
      <h1>Available Offices in <%= @offices.first.city %></h1>
      <% @offices.each do |office| %>
      <h2> <%= link_to office.name, office_path(office) %></h2>
      <p><%= office.city%>, <%= office.address %>, <%= office.price %> Euro per day </p>
      <% end %>
    <% end %>

  <%= link_to "Back to search", root_path %>

</div>
