<p id="notice"><%= notice %></p>


<h1>
  <strong><%= @office.name %> in <%= @office.city %> </strong>
</h1>

<p>
  <%= @office.description %>
</p>

<p>
  <strong>Find me:</strong>

  <%= @office.address %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @office.start_date %>
  —
  <%= @office.end_date %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @office.max_capacity %> spaces left
</p>

<p>
  <strong>Total Price:</strong>
  <%= @office.price %> Euro
</p>

<% if @office.photos.attached? %>
  <% @office.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>
<p>
<%= link_to "delete this office", office_path, class:" btn btn-outline-primary" %> |
<%= link_to "edit this office", edit_office_path, class:" btn btn-outline-primary" %> |
<%= link_to 'Back', offices_path, class:" btn btn-outline-primary" %>
</p>

