<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>  <strong> <%= @office.name %> </strong> in <%= @office.city %></h1>

  <p>
    <%= @office.description %>
  </p>

  <p>
    <strong>Address:</strong>

    <%= @office.address %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= @office.start_date %>
    —
    <%= @office.end_date %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= @office.max_capacity %> spaces
  </p>

  <!-- <p>
    <strong>Capacity:</strong>
    <%#= @office.max_capacity - %> spaces left
  </p> -->
  <p>
    <strong>Price per day per person:</strong>
    <%= @office.price %> Euro
  </p>

  <% if @office.photos.attached? %>
  <% @office.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <% end %>
  <p>
    <br>
    <strong><%= link_to "Book Now!", new_office_booking_path(@office) %></strong>
    <%= link_to "delete this office", office_path, method: :delete, data: { confirm: "You sure?" }, class:" btn btn-outline-primary" %> |
    <%= link_to "edit this office", edit_office_path, class:" btn btn-outline-primary" %> |
    <%= link_to 'Back', root_path, class:" btn btn-outline-primary" %>
  </p>
</div>
