<p id="notice"><%= notice %></p>

<h1>Offices#show</h1>
<p>Find me in app/views/offices/show.html.erb</p>

<% if @office ==nil %>
  <p>
    <strong>No office available </strong>
<% else %>
    <strong>Name of Office in <%= @office.city %> </strong>
  </p>
<% end %>


<p>
  <%= @office.description %>
</p>

<p>
  <strong>Find me:</strong>

  <%= @office.address %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @office.start_date %>
  —
  <%= @office.end_date %>
</p>

<p>
  <strong>Total Price:</strong>
  <%= @office.price %>
</p>

<%= link_to "delete this office", office_path %>
<%= link_to 'Back to search', root_path %>
