<p id="notice"><%= notice %></p>

<h1>Offices#show</h1>
<!-- <p>Find me in app/views/offices/show.html.erb</p> -->

<p>
  <strong> <%= @office.name %> </strong>
  <br>
  Gorgeous new office space in <%= @office.city %>
</p>

<p>
  <%= @office.description %>
</p>

<p>
  <strong>Find me:</strong>

  <%= @office.address %>
</p>

<p>
  <strong>Availability:</strong>
  <%= @office.start_date %>
  —
  <%= @office.end_date %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @office.max_capacity %> spaces left
</p>

<p>
  <strong>Total Price:</strong>
  € <%= @office.price %>
</p>

<%= link_to "delete this office", office_path %> |
<%= link_to 'Back', offices_path %>
