<div class="container">

<div class="show-container">

    <h1>  <strong> <%= @office.name %> </strong></h1>
    <% if @office.photos.attached? %>
      <% @office.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <% else %>
      <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-style-home-office.jpg" />
    <% end %>
    <br>
    <br>
    <p><%= @office.description %></p>
    <br>
    <p><strong>Address:</strong> <%= @office.address %></p>
    <p><strong>Availability:</strong>
     <%= @office.start_date %> to <%= @office.end_date %>  </p>
    <p> <%= @office.max_capacity - @office.bookings.sum(:number_of_guests) %> spaces left </p>
    <p><strong>Price per day:</strong>€ <%= @office.price %></p>

    <p>
      <br>
      <%= link_to "Delete office", office_path, method: :delete, data: { confirm: "You sure?" }, class:" btn btn-outline-primary" %> |
      <%= link_to "Edit office", edit_office_path, class:" btn btn-outline-primary" %> |
      <%= link_to 'Back', root_path, class:" btn btn-outline-primary" %>
    </p>

  <div class="form-container">
    <h2>Book <%= @office.name %> now</h2>
    <div class="form">
      <%= simple_form_for([@office, @booking]) do |f| %>
        <%= f.input :date, label: 'Date' %>
        <%= f.input :number_of_guests, label: 'Number of Guests', error_html: {id: " test "} %>
        <br>
        <%= f.button :submit, class:"btn btn-ghost btn-lg btn-block" %>
      <% end %>
    </div>
  </div>

</div>
</div>
<p id="notice"><%= notice %></p>

