<div class="container">
  <div>
    <h1><strong>Thanks for your booking @ <%= @booking.office.name %></strong></h1>
    <br>
      <% if @booking.office.photos.attached? %>
        <% @booking.office.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <% end %>
      <br>
      <br>
        <h5>Date: </h5><p><%= link_to @booking.date %></p>
        <h5>Number of People: </h5><p><%= @booking.number_of_guests %></p>
        <h5>Address: </h5><p><%= @booking.office.address %></p>
        <p><h5>Total Price: </h5><%= @booking.office.price %> Euros</p>
        <div class="links">
        <%= link_to 'cancel my booking   ', booking_path(@booking), class:"btn btn-ghost", method: :delete, data: { confirm: "Are you sure, that you would like to cancel your booking?" } %>
        <%= link_to "go to my dashboard", dashboard_path, class:"btn btn-ghost" %>
      </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

