<div>
  <h2>Booking Confirmation</h2>
  <br>
  <h3><strong><%= @booking.office.name %></strong></h3>
  <br>
  <ul>
    <li>
      <p><strong>Date: </strong><%= link_to @booking.date %>
      <p><strong>Number of People: </strong><%= @booking.number_of_guests %></p>
      <p><strong>Address: </strong><%= @booking.office.address %></p>
      <!-- <%#= API needed %> -->
      <br>
      <p><strong>Total Price: </strong><%= @booking.office.price %> Euros</p>
      <%= link_to booking_path(@booking), method: :delete do %>
      <%= '🗑' %>
      <% end %>
      <!--  booked   -->
    </li>
  </ul>
</div>
