<h1> Profile <%= @user.first_name%> <%= @user.last_name %></h1>


 <p> First Name <%= @user.first_name%> Last Name <%= @user.first_name%></p>
 <p> Bio <%= @user.bio%></p>

<%= link_to "edit", edit_user_path(current_user) %>
<%= link_to "delete Account", user_registration_path, method: :delete, data: { confirm: "You sure?" } %>
