<div class="container">

  <div class="profile-container">
    <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "avatar-border", height: 300, width: 300, crop: :fill %>
    <% end %>
    <div class="item-container">
      <h1> Profile <%= @user.first_name%> <%= @user.last_name %></h1>

<%= raise %>
       <p> Bio <%= @user.bio%></p>
    </div>
  </div>

<br>

  <div class="links">
    <%= link_to "Update", edit_user_registration_path, class:"btn btn-ghost" %>
    <%= link_to "Delete", user_registration_path, method: :delete, data: { confirm: "You sure?" }, class:" btn btn-ghost" %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
