 <h2>My offices</h2>
     <br>
     <ul>
      <% current_user.offices.each do |office| %>
      <li>
        <h3><strong><%= link_to office.name, office_path(office)%></strong></h3>
        <p><strong> Availability: </strong> <%= office.start_date %> — <%= office.end_date %></p>
        <p><strong> Capacity: </strong> <%= office.max_capacity %></p>
        <p><strong> Address: </strong><%= office.address %></p>
        <p><strong>Price: </strong><%= office.price %> Euro</p>
      </li>
      <% if office.photos.attached? %>
      <% office.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
      <% else %>
      <img src="http://cdn.home-designing.com/wp-content/uploads/2018/06/industrial-style-home-office.jpg" />
      <% end %>
      <% end %>
    </ul>
